---
import { FSBookmarkRepo } from "@/infrastructure/persistance/adapters/fs/FSBookmarkRepo"
import bkmks from '../../public/bookmarks.json'

const repo = new FSBookmarkRepo(bkmks)
const bkmksRoot = await repo.getRoot()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nico Ismaili | Bookmarks</title>
	</head>
	<body>
		<h1>Welcome to Nico Ismaili | Bookmarks!</h1>
        {
           bkmksRoot.map((child) => {
                return (
                    <h2>{child.name}</h2>
                )
           })
        }
	</body>
</html>
