---
type IconType =
	| "folder"
	| "back-folder"
	| "open-folder"
	| "globe"
	| "moon"
	| "sun"
	| "json"
	| "github";

interface Props {
	icon: IconType;
	size: string;
	className?: string;
}

const { icon, className, size } = Astro.props;

const iconClassByIconType: Record<IconType, string> = {
	folder: "folder-icon",
	"open-folder": "folder-open-icon",
	globe: "globe-icon",
	sun: "sun-icon",
	moon: "moon-icon",
	"back-folder": "back-folder-icon",
	json: "json-icon",
	github: "github-icon",
};

const iconClass = iconClassByIconType[icon];
---

<div
	class:list={[iconClass, "bg-cover bg-text dark:bg-dark-text", className]}
	style={{
		width: size,
		height: size,
	}}
>
</div>
